* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    width: 100%;
    background-image: url(../img/image-projet\ porfolio\ –\ Figma.png);
    // overflow: hidden;


    header {
        display: flex;

        #logo {
            // padding: 20px;
            width: 70px;
            margin: 15px 20px;


            img {
                width: 100%;
            }
        }

        nav {
            width: 100%;


            ul {
                height: 80px;
                display: flex;
                justify-content: right;
                margin: 0 20px;
                gap: 15px;
                align-items: center;


                li {
                    list-style-type: none;

                    a {
                        font: 900;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1.7rem;
                        color: #fff;
                        text-decoration: none;

                        &:hover {
                            color: #3c67e3
                        }
                    }
                }
            }
        }
    }

    @keyframes po {
        100% {
            transform: rotateY(360deg);
        }
    }

    main {
        // background-image: url(../img/image-projet\ porfolio.png);
        width: 100%;
        padding: 20px;
        overflow: hidden;
        perspective: 1000px;
        // animation: rota 10.5s linear infinite;

        // @keyframes rota {
        //     0% {
        //         transform: translateY(0);
        //         transform: rotateY(0deg);

        //     }

        //     75% {
        //         transform: rotateY(90deg);
        //         // transform: translateZ(100px);
        //     }

        //     100% {
        //         transform: rotateY(180deg);
        //         // transform: translateY(20px);
        //     }
        // }
        .big-dipper {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            gap: 50px;
            animation: sway 2s infinite ease-in-out alternate;

            canvas {
                width: 300px;
                height: 100%;
                cursor: pointer;
                border-radius: 50%;
                animation:
                    filter-more forwards linear 4s,
                    shrink forwards infinite 5s 3s,
                    blink linear infinite 1.2s 3s;
                filter:
                    blur(var(--blur-min)) contrast(var(--max-contrast)) hue-rotate(var(--hue-rotation-min));

                .scope {
                    width: clamp(200px, 90vmin, 1200px);
                    height: clamp(200px, 90vmin, 1200px);
                    border-radius: 50%;
                    overflow: hidden;
                }

                canvas.reset {
                    animation: none;
                }
            }
        }

        @keyframes filter-more {
            from {
                filter:
                    blur(var(--blur-min)) contrast(1) hue-rotate(var(--hue-rotation));
            }

            to {
                filter:
                    blur(var(--blur-max)) contrast(var(--max-contrast)) hue-rotate(var(--hue-rotation));
                transform: scale(0.25);
            }
        }

        @keyframes shrink {
            to {
                transform: scale(0.25);
            }
        }

        @keyframes blink {
            28% {
                opacity: 1;
            }

            30% {
                opacity: 0.9;
            }

            32% {
                opacity: 0.8;
            }

            34% {
                opacity: 1;
            }

            50% {
                opacity: 0.9;
            }

            52% {
                opacity: 0.6;
            }

            from,
            54%,
            to {
                opacity: 1;
            }
        }





        // .tree img {
        //     max-width: 100%;
        // }

        // /* Animation pour l'effet de balancement des arbres */
        @keyframes sway {
            0% {
                transform: rotateZ(-2deg);
            }

            100% {
                transform: rotateZ(2deg);
            }
        }

        .perso {
            width: 100%;
            position: relative;




            .perso-container {
                width: 100px;
                display: inline-block;
                height: 100px;
                border: 1px solid black;
                border-radius: 3px;

                &:hover {
                    border: 1px solid #fff;
                }

                img {

                    width: 100%;
                    object-fit: cover;
                }

            }

            #container-content {
                display: flex;
                // padding: 20px;
                justify-content: space-around;
                position: relative;
                margin-left: 100px;

                .skills {
                    width: 350px;
                    max-width: fit-content;
                    // border: 1px solid red;
                    text-align: center;
                    // border: 3px solid red;
                    height: 100%;
                    perspective: 1000px;
                    // margin-top: 100px;

                    .skills-container {
                        width: 100%;

                        height: 600px;

                        .letter-skills {
                            // border: 1px solid #fff;
                            display: inline-block;
                            padding: 20px;
                            width: 140px;
                            animation: po 12s ease-in-out infinite;
                            box-shadow: 4px white;

                        }
                    }
                }

                .me {
                    width: 100%;
                    max-width: 300px;
                    height: 100%;
                    // margin-top: 100px;
                    align-items: center;
                    text-align: center;

                    &:hover {


                        border: 1px solid #fff;
                    }

                    .img-me {
                        // display: flex;
                        width: 100%;
                    }
                }

                .projet-container {
                    width: 1000px;
                    max-width: 700px;
                    height: 450px;
                    // border: 1px solid yellow;
                    margin-top: 150px;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Utilisation de minmax pour s'assurer que les cartes ont une taille minimale de 200px et qu'elles occupent tout l'espace disponible
                    justify-content: center;
                    gap: 20px;
                    overflow-y: scroll;
                    padding: 10px;
                    scroll-behavior: smooth;
                    scrollbar-width: none;
                    -ms-overflow-style: none;



                    .projet-card {
                        // width: 100%;
                        // margin: 0 auto;
                        // margin-right: 100px;
                        gap: 30px;

                        .card {
                            background: #191c29;
                            position: relative;
                            border-radius: 6px;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            display: flex;
                            font-size: 1.5em;
                            color: rgba(88, 199, 250, 0%);
                            cursor: pointer;

                            &:hover {
                                color: rgba(88, 199, 250, 1);
                                transition: color 1s;

                                &:before,
                                &:after {
                                    animation: none;
                                    opacity: 0;
                                }
                            }

                            &::before {
                                content: "";
                                width: 104%;
                                height: 102%;
                                border-radius: 8px;
                                background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
                                transition: opacity 0.5s;
                                position: absolute;
                                z-index: -1;
                                top: -1%;
                                left: -2%;
                                animation: spin 2.5s linear infinite;
                            }

                            &::after {
                                position: absolute;
                                content: "";
                                top: calc(var(--card-height) / 6);
                                left: 0;
                                right: 0;
                                z-index: -1;
                                height: 100%;
                                width: 100%;
                                margin: 0 auto;
                                transform: scale(0.8);
                                background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
                                opacity: 1;
                                transition: opacity 0.5s;
                                animation: spin 2.5s linear infinite;
                            }
                        }

                        @keyframes spin {
                            0% {
                                --rotate: 0deg;
                            }

                            75% {
                                scale: .97;
                            }

                            100% {

                                --rotate: 360deg;
                            }
                        }

                        img {
                            width: 300px;
                        }
                    }
                }

            }
        }
    }
}